/* styles/globals.css */

/* CSS重置，移除默认边距 */
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    
    /* 添加其他想要全局应用的样式 */
  }
  
  html {
    font-family: var(--font-inter);
  }
   
  h1 {
    font-family: var(--font-inter);
  }