/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/styles/globals.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
/* styles/globals.css */

/* CSS重置，移除默认边距 */
body {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    /* 添加其他想要全局应用的样式 */
  }
  
